<h1>Segmenting and Clustering Neighborhoods in Toronto - Assignment</h1>

<h2>Step 1: Loading required Table data from Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M into Dataframe and display dataframe</h2>

In [1]:
import requests
import lxml.html as lh
import pandas as pd

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)[0]
df.head(12) # displaying sample of data loaded

   Postcode           Borough     Neighbourhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
9       M8A      Not assigned      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge

In [110]:
df.shape # innitial records loaded

(288, 3)

<h2>Step 2: Ignore rows with Borough as 'Not assigned'</h2>

In [2]:
df = df.loc[df['Borough'] != 'Not assigned']

In [112]:
df.shape # checking reduced size

(211, 3)

<h3>Step 3: Valid borough but Not assigned neighborhood case, replace neighborhood with borough</h3>

In [3]:
df1 = df.loc[df['Neighbourhood'] == 'Not assigned'] # DF with correct Neighbourhood
df2 = df.loc[df['Neighbourhood'] != 'Not assigned'] # DF with Not assigned Neighbourhood
df1['Neighbourhood'] = df1.loc[:,'Borough'] # REplace Neighbourhood with Borough
df1 = pd.concat((df1,df2),axis =0) # conact both DFs
df1

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,Postcode,Borough,Neighbourhood
8,M7A,Queen's Park,Queen's Park
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Harbourfront
5,M5A,Downtown Toronto,Regent Park
6,M6A,North York,Lawrence Heights
7,M6A,North York,Lawrence Manor
10,M9A,Etobicoke,Islington Avenue
11,M1B,Scarborough,Rouge
12,M1B,Scarborough,Malvern
14,M3B,North York,Don Mills North
15,M4B,East York,Woodbine Gardens
16,M4B,East York,Parkview Hill
17,M5B,Downtown Toronto,Ryerson
18,M5B,Downtown Toronto,Garden District
19,M6B,North York,Glencairn
22,M9B,Etobicoke,Cloverdale
23,M9B,Etobicoke,Islington
24,M9B,Etobicoke,Martin Grove
25,M9B,Etobicoke,Princess Gardens
26,M9B,Etobicoke,West Deane Park
27,M1C,Scarborough,Highland Creek
28,M1C,Scarborough,Rouge Hill
29,M1C,Scarborough,Port Union
31,M3C,North York,Flemingdon Park
32,M3C,North York,Don Mills South
33,M4C,East York,Woodbine Heights
34,M5C,Downtown Toronto,St. James Town
35,M6C,York,Humewood-Cedarvale
38,M9C,Etobicoke,Bloordale Gardens
...,...,...,...
235,M9V,Etobicoke,Thistletown
236,M1W,Scarborough,L'Amoreaux West
239,M4W,Downtown Toronto,Rosedale
240,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade
243,M8W,Etobicoke,Alderwood
244,M8W,Etobicoke,Long Branch
245,M9W,Etobicoke,Northwest
246,M1X,Scarborough,Upper Rouge
249,M4X,Downtown Toronto,Cabbagetown
250,M4X,Downtown Toronto,St. James Town
251,M5X,Downtown Toronto,First Canadian Place
252,M5X,Downtown Toronto,Underground city
255,M8X,Etobicoke,The Kingsway
256,M8X,Etobicoke,Montgomery Road
257,M8X,Etobicoke,Old Mill North
262,M4Y,Downtown Toronto,Church and Wellesley
265,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
266,M8Y,Etobicoke,Humber Bay
267,M8Y,Etobicoke,King's Mill Park
268,M8Y,Etobicoke,Kingsway Park South East
269,M8Y,Etobicoke,Mimico NE
270,M8Y,Etobicoke,Old Mill South
271,M8Y,Etobicoke,The Queensway East
272,M8Y,Etobicoke,Royal York South East
273,M8Y,Etobicoke,Sunnylea
282,M8Z,Etobicoke,Kingsway Park South West
283,M8Z,Etobicoke,Mimico NW
284,M8Z,Etobicoke,The Queensway West
285,M8Z,Etobicoke,Royal York South West
286,M8Z,Etobicoke,South of Bloor

In [114]:
df1.shape # Checking shape for correctness

(211, 3)

<h2>Postal code grouping and Neighbourhood listed as comma separated values</h2>

In [4]:
df_grp = df1['Postcode'].value_counts()
df_grp.columns = ['Postcode','Count','Borough','Neighbourhood']
df_grp.head()
df_grp1 = df1.groupby(["Postcode", "Borough"])["Neighbourhood"].apply(', '.join).reset_index()
df_grp1.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

<h2>shape method to print the number of rows of in final dataframe</h2>

In [116]:
df_grp1.shape

(103, 3)

<h2>Load lat ,lang from CSV</h2>

In [5]:
data = pd.read_csv("https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv") 
data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

<h2>Create result Dataframe 'neighborhoods'</h2>

In [6]:
# define the dataframe columns
column_names = ['Postcode','Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

<h2> load data into 'neighborhoods'</h2>

In [10]:
for i in df_grp1.index:
        postcode = df_grp1.iloc[i]['Postcode']
        borough = df_grp1.iloc[i]['Borough'] 
        neighborhood_name = df_grp1.iloc[i]['Neighbourhood']
        
        neighborhood_latlon = data.loc[data['Postal Code'] == postcode]
        neighborhood_lat = neighborhood_latlon.iloc[0]['Latitude']
        neighborhood_lon = neighborhood_latlon.iloc[0]['Longitude']

        neighborhoods = neighborhoods.append({'Postcode': postcode,
                                              'Borough': borough,
                                              'Neighborhood': neighborhood_name,
                                              'Latitude': neighborhood_lat,
                                              'Longitude': neighborhood_lon}, ignore_index=True)

<h2> Expected result<h2>

In [11]:
neighborhoods.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [12]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(neighborhoods['Borough'].unique()),
        neighborhoods.shape[0]
    )
)

The dataframe has 11 boroughs and 113 neighborhoods.